graft src/wired_injector
graft tests
graft docs
prune docs/_build
prune examples
graft .github

include README.md
include CHANGES.md
include LICENSE.txt

include pyproject.toml setup.cfg
include .coveragerc .flake8
include tox.ini readthedocs.yml
include mypy.ini pytest.ini
recursive-include src py.typed
recursive-exclude * __pycache__ *.py[cod]
exclude TODO.md bs-config.json
exclude .pre-commit-config.yaml
